name: Release Please
"on":
  push:
    branches:
    - main
  workflow_dispatch: null
permissions:
  contents: write
  pull-requests: write
jobs:
  release-please:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38
      with:
        token: "${{ secrets.RELEASE_PLEASE_TOKEN }}"
        config-file: tools/release-please/config.json
        manifest-file: tools/release-please/manifest.json
